<div class="container">
  <div class="row">

    <%= simple_form_for(@plant) do |f| %>
      <%= f.input :name, placeholder: "Loren The Lilly" %>
      <%= f.input :description, placeholder: "Lilly likes the sunshine and to be watered once a week." %>
      <%= f.input :location, placeholder: "London" %>
      <%= f.input :price_per_day, placeholder: "" %>
      <%= f.input :picture, as: :file %>
      <%= f.submit "Add Plant", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>


